body {
    background-image: url(../images/dust_scratches.png);
    margin: 0;
    padding: 0;
    background-size: contain;
}

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.About_Text {
    line-height: 25px;
}

header {
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
    margin-top: 0px;
    margin-bottom: 8px;
    padding: 6px;
    z-index: 1;
}

footer {
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50%;
    padding-right: 50%;
    position: fixed;
    top: 92%;
    right: 0%;
    z-index: 5;
}

.inputboxes {
    width: 97%;
    padding: 5px;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

/* Message input box */

#Message-Textbox {
    width: 95.5%;
    height: 150px;
    padding: 15px;
    box-sizing: content-box;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

/* Middle White Container  */

.Body {
    /* width: 960px; */
    background-color: #ffffff;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: block;
    border: 1px solid #dddddd;
}

#Portfolio_Body {
    height: 1100px;
}

#Title {
    position: relative;
    top: 0%;
    right: 0%;
    display: block;
    width: 387px;
    background-color: #4aaaa5;
    text-align: center;
    margin-left: 77px;
    margin-top: -7px;
    margin-bottom: -6px;
    padding-top: 29px;
    padding-bottom: 29px;
    padding-left: 38px;
    padding-right: 38px;
    color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

#LinkOne {
    position: fixed;
    top: 4%;
    right: 15%;
    color: #777777;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#LinkTwo {
    position:fixed;
    top: 4%;
    right: 9.4%;
    color: #777777;
    text-decoration: none;
    font-size: 18px;
    padding-left: 8px;
    padding-right: 8px;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#LinkThree {
    position: fixed;
    top: 4%;
    right: 5%;
    color: #777777;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#Subtitle {
    color: #4aaaa5;
    margin-top: 7px;
    margin-bottom: 18px;
    border-bottom: 2px solid #cccccc;
    padding-bottom: 23px;
    font-size: 32px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

#My_Picture {
    float: left;
    margin: 20px;
}

#Pictures {
    position: relative;
    float: left;
    margin: 18px 0px 25px 25px;
    overflow: auto;
    z-index: 1;
}

.Overlay {
    text-align: center;
    background: #4aaaa5;
    font-weight: 300;
    line-height: 30px;
    color: #fff;
    width: 350px;
    padding: 15px;
    position: relative;
    float: left;
    left: 10px;
    bottom: -148px;
    margin: 18px 11px 30px -360px;
    z-index: 2;
  }

button {
    margin-top: 10px;
    background-color: #4aaaa5;
    color: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
